*{
  /* border-sizing não deixa os elementos passarem da borda */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Nunito', sans-serif;
  font-family: 'Work Sans', sans-serif;
}